<div class="fly-footer">
  <p>2018 &copy; <a href="http://www.arexstorm.top:9000" target="_blank">arexstorm.top 出品</a></p>
  <p>
    <a href="http://www.arexstorm.top:9000">Sharing All Rights Reserved. </a>
  </p>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "2.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>