<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>关于我们</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="Sharing 共享信息平台">
  <meta name="description" content="Sharing 共享信息平台">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
	<!-- header -->
	<div th:include="@{common/header.html}"></div>
	<!-- column  -->
	<div th:include="@{common/column.html}"></div>

	<div class="layui-container fly-marginTop">
		<div class="fly-panel">
		  <div class="fly-none">
		    <h2><i>关于我们</i></h2>
			  <p style="text-align: left; width: 75%; margin:5px auto;">
				&nbsp;&nbsp;&nbsp;&nbsp;该网站作为一个共享信息发布的平台，用户可以获取所需的共享信息，发布共享信息和心愿单以及和共享信息的提供者交易功能。<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;我们每个人都可以将自己闲置的资源共享出去。通过该系统能够更好的帮助发布和获取个人共享信息。
			</p>
		  </div>
		</div>
	</div>

	<div th:include="@{common/footer.html}"></div>
	<script th:src="@{/js/other/error.js}"></script>
</body>
</html>