<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.arexstorm.sharing.mapper.CustomerCommentsMapper">
  <resultMap id="BaseResultMap" type="top.arexstorm.sharing.bean.info.Comments">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="orerid" jdbcType="VARCHAR" property="orerid" />
    <result column="informationid" jdbcType="VARCHAR" property="informationid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>

  <sql id="Base_Column_List">
    s_comments.id, s_comments.userid, s_comments.orerid, s_comments.informationid, s_comments.content, s_comments.pics, s_comments.status, s_comments.createtime, s_comments.commentid
  </sql>

  <select id="findCommentById" parameterType="java.lang.String" resultType="top.arexstorm.sharing.bean.info.CustomerComments">
    select <include refid="Base_Column_List"/>, nickname, avatar from s_comments , s_user
    <where>
      and s_user.userid = s_comments.userid and s_comments.status != 9
      <if test="value != null">
        and s_comments.commentid = #{commentid}
      </if>
    </where>
  </select>

  <select id="findAllComments" parameterType="top.arexstorm.sharing.bean.info.CustomerComments" resultType="top.arexstorm.sharing.bean.info.CustomerComments">
    select <include refid="Base_Column_List"/>, nickname, avatar from s_comments , s_user
    <where>
      and s_user.userid = s_comments.userid and s_comments.status != 9
      <if test="status != null">
        and s_comments.status = #{status}
      </if>
      <if test="userid != null">
        and s_comments.userid = #{userid}
      </if>
      <if test="informationid != null">
        and s_comments.informationid = #{informationid}
      </if>
    </where>
    order by s_comments.createtime desc
  </select>

  <!-- 分页查找 查询所有的信息 -->
  <select id="findAllCommentsWithPage" resultType="top.arexstorm.sharing.bean.info.CustomerComments">
    SELECT s_comments.*, s_user.nickname, s_user.avatar FROM s_comments , s_user
    <where>
      and s_user.userid = s_comments.userid and s_comments.status != 9
      <if test="status!=null">AND s_comments.status=#{status} </if>
      <if test="searchKey!=null and searchKey!='' and searchValue!=null and searchValue!=''">AND s_comments.${searchKey} like '%${searchValue}%' </if>
    </where>
    ORDER BY s_comments.createtime ASC
  </select>
</mapper>