<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.arexstorm.sharing.mapper.CustomerInformationMapper">
  <sql id="Base_Column_List">
    s_information.id, s_information.informationid, s_information.name, s_information.shortname, s_information.userid, s_information.pic, s_information.typeid, s_information.typename, s_information.content, s_information.summary, 
    s_information.price, s_information.important, s_information.status, s_information.createtime
  </sql>
  
  <select id="findInformationById" parameterType="java.lang.String" resultType="top.arexstorm.sharing.bean.info.CustomerInformation">
  	select <include refid="Base_Column_List"/> from s_information
  	<where>
  		<if test="value != null">
  		 	and informationid = #{value}
  		</if>
  	</where>
  </select>
  
  <select id="findAllInformation" parameterType="top.arexstorm.sharing.bean.info.CustomerInformation" resultType="top.arexstorm.sharing.bean.info.CustomerInformation">
  	select <include refid="Base_Column_List"/>, s_user.nickname, s_user.avatar from s_information, s_user
  	<where>
  		s_information.userid = s_user.userid and s_information.status != 9
  		<if test="status != null">
  			and s_information.status = #{status}
  		</if>
  		<if test="userid != null">
  			and s_information.userid = #{userid}
  		</if>
  		<if test="important != null">
  			and s_information.important = #{important}
  		</if>
  		<if test="typeid != null">
  			and s_information.typeid = #{typeid}
  		</if>
  	</where>
  	order by s_information.createtime desc
  </select>
  
  <select id="findInformationTypeByInformationId" parameterType="java.lang.String" resultType="top.arexstorm.sharing.bean.info.CustomerInformationType">
  	<if test="value!=null">
	  	select <include refid="top.arexstorm.sharing.mapper.CustomerInformationTypeMapper.Base_Column_List"/> from s_informationtype informationtype, s_information information
	  	<where>
	  		and informationtype.informationtypeid = information.typeid and information.informationid = #{value}
	  	</where>
  	</if>
  </select>
  
  <update id="updateInformationStatus" parameterType="top.arexstorm.sharing.bean.info.CustomerInformation">
  	<if test="status!=null and informationid!=null">
  		update s_information set status = #{status} where informationid = #{informationid}
  	</if> 
  </update>
  
  <select id="findAllBuyInformation" parameterType="java.util.Map" resultType="top.arexstorm.sharing.bean.info.CustomerInformation">
 	select <include refid="Base_Column_List"/>, s_user.nickname, s_user.avatar from s_information, s_order, s_orderdetail, s_user
	<where>
		and s_order.orderid = s_orderdetail.orderid and s_order.buyerid = s_user.userid 
		and s_orderdetail.informationid = s_information.informationid
		and s_order.status != 9
		<if test="buyerid != null">
			and s_order.buyerid = #{buyerid}
		</if>
		<if test="status != null">
			and s_order.status = #{status}
		</if>
	</where> 
	order by s_order.createtime desc
  </select>

	<!-- 分页查找 查询所有的信息 -->
	<select id="findAllInformationWithPage" resultType="top.arexstorm.sharing.bean.info.CustomerInformation">
		SELECT a.*, b.nickname, b.avatar FROM s_information a, s_user b where a.userid = b.userid and a.status != 9
		<if test="status!=null">AND a.status=#{status} </if>
		<if test="searchKey!=null and searchKey!='' and searchValue!=null and searchValue!=''">AND a.${searchKey} like '%${searchValue}%' </if>
		ORDER BY a.createtime ASC
	</select>
  </mapper>