<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.arexstorm.sharing.mapper.CustomerOrderMapper">

	<sql id="Base_Column_List">
    s_order.id, s_order.orderid, s_order.count, s_order.back, s_order.createtime, s_order.lasttime, s_order.status, s_order.buyerid, s_order.sellerid, s_order.amount
  </sql>
  
  <select id="findOrderById" parameterType="java.lang.String" resultType="top.arexstorm.sharing.bean.order.CustomerOrder">
  	select <include refid="Base_Column_List"/> from s_order 
  	<where>	
  		<if test="value != null">
  			and orderid = #{orderid}
  		</if>
  	</where>
  </select>
  
  <select id="findAllOrder" parameterType="top.arexstorm.sharing.bean.order.CustomerOrder" resultType="top.arexstorm.sharing.bean.order.CustomerOrder">
  	select <include refid="Base_Column_List"/> from s_order 
  	<where>	
  		<if test="status != null">
  			and status = #{status}
  		</if>
  		<if test="buyerid != null">
  			and buyerid = #{buyerid}
  		</if>
  		<if test="sellerid != null">
  			and sellerid = #{sellerid}
  		</if>
  	</where>
  </select>
  
  <select id="findOrderByBuyeridAndInformationid" parameterType="top.arexstorm.sharing.bean.order.CustomerOrder" resultType="top.arexstorm.sharing.bean.order.CustomerOrder">
  	select s_order.* from s_order, s_orderdetail
  	<where>
  		and s_order.orderid = s_orderdetail.orderid
  		<if test="buyerid != null">DESC
  			and s_order.buyerid = #{buyerid}
  		</if>
  		<if test="informationid != null">
  			and s_orderdetail.informationid = #{informationid}
  		</if>
  	</where>
  </select>

	<!-- 分页查找 查询所有的信息 -->
	<select id="findAllInformaionTypeWithPage" resultType="top.arexstorm.sharing.bean.order.CustomerOrder">
		SELECT s_order.*, s_orderdetail.informationid FROM s_order s_order, s_orderdetail s_orderdetail
		<where>
			and s_order.orderid = s_orderdetail.orderid
			<if test="status!=null">AND s_order.status=#{status} </if>
			<if test="searchKey!=null and searchKey!='' and searchValue!=null and searchValue!=''">AND s_order.${searchKey} like '%${searchValue}%' </if>
		</where>
		ORDER BY s_order.createtime
	</select>
</mapper>