<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.arexstorm.sharing.mapper.CustomerVerifyCodeMapper">
  
  <sql id="Base_Column_List">
    id, type, userid, email, phone, code, times, validtime, status, createtime, lasttime
  </sql>
  
  <select id="findVerifyCodeByUserid" parameterType="java.util.Map" resultType="top.arexstorm.sharing.bean.notify.VerifyCode">
  	select <include refid="Base_Column_List"/> from s_verifycode
  	<where>
  		and status = 0 and times between 0 and 2
  		<if test="usreid != null">
  			and userid = #{userid}
  		</if>
  		<if test="type != null">
  			and type = #{type}
  		</if>
  	</where>
  	order by createtime desc limit 0, 1
  </select>
  
  <select id="updateVerifyCodeStatus" parameterType="java.util.Map">
  	update s_verifycode set status = #{status} 
 	<where>
 	    and status = 0 and times between 0 and 2
 		<if test="usreid != null">
  			and userid = #{userid}
  		</if>
  		<if test="type != null">
  			and type = #{type}
  		</if>
 	</where>
  </select>
</mapper>