<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.arexstorm.sharing.mapper.CustomerInformationMapper">
  <sql id="Base_Column_List">
    id, informationid, name, shortname, userid, pic, typeid, typename, summary, price, 
    status, ceatetime
  </sql>
  
  <select id="findInformationById" parameterType="java.lang.String" resultType="top.arexstorm.sharing.bean.info.CustomerInformation">
  	select <include refid="Base_Column_List"/> from s_information
  	<where>
  		<if test="value != null">
  		 	and informationid = #{value}
  		</if>
  	</where>
  </select>
  
  <select id="findAllInformation" parameterType="top.arexstorm.sharing.bean.info.CustomerInformation" resultType="top.arexstorm.sharing.bean.info.CustomerInformation">
  	select <include refid="Base_Column_List"/> from s_information
  	<where>
  		<if test="status != null">
  			and status = #{status}
  		</if>
  		<if test="userid != null">
  			and userid = #{userid}
  		</if>
  	</where>
  </select>
  
  <select id="findInformationTypeByInformationId" parameterType="java.lang.String" resultType="top.arexstorm.sharing.bean.info.CustomerInformationType">
  	<if test="value!=null">
	  	select <include refid="top.arexstorm.sharing.mapper.CustomerInformationTypeMapper.Base_Column_List_WITH_TABLE"/> from s_informationtype informationtype, s_information information
	  	<where>
	  		and informationtype.informationtypeid = information.typeid and information.informationid = #{value}
	  	</where>
  	</if>
  </select>
  
  <update id="updateInformationStatus" parameterType="top.arexstorm.sharing.bean.info.CustomerInformation">
  	<if test="status!=null and informationid!=null">
  		update s_information set status = #{status} where informationid = #{informationid}
  	</if> 
  </update>
  
  </mapper>